manifest {
    description = 'Executes NoxBook jupyter notebook'
    author = 'Patrick Pedrioli'
}

params {
    help = false

    // Path to the FragPipe manifest file
    // Defaults to assuming that NF-FragPipe was launched from the
    // same folder.
    manifest_fp = "$launchDir/Results/FragPipe/manifest.fp-manifest"

    // The name of the NoxBook to be executed.
    // The NoxBook is expected to be in the Notebooks folder of the NF
    // project.
    template_ipynb = 'nox_template.ipynb'
    
    // Papermill paramter definitions
    ////////////////////////////////////////////////////////////////
    // The labels for the 2 classes that will be compared for
    // differential abundance
    class_label1 = 'label1'
    class_label2 = 'label2'

    // The folder with the output of the FragPipe analysis
    // Defaults to assuming that NF-FragPipe was launched from the
    // same folder.
    input_folder = "$launchDir/Results/FragPipe"

    // Uniprot annotation for proteins searched by FragPipe.
    // Can be generated via
    // lux_noctis.lux_qc.download_uniprot_annotation()
    uniprot_annotation_filename = ''

    // Surfy annotation file.
    // Can by generated via lux_noctis.lux_qc.download_surfy()
    surfy_filename = ''

    // Quantile threshold for removing proteins with low abundance values
    quantile_threshold = 0.25

    // Minimum number of peptide a protein has to have to be considered
    min_peptide_count = 2

    // Should the data be median normalized?
    normalize = true

    // Should missing values be imputed?
    impute = false

    // Should the data be filtered based on CVs?
    filter_cv = true

    // Links to GO files
    gaf_filename = ''	// e.g. https://current.geneontology.org/annotations/goa_human.gaf.gz
    obo_filename = ''	// e.g. https://purl.obolibrary.org/obo/go/go-basic.obo
}

process {
    cache = 'lenient'
    maxForks = 1	// Max number of parallel jobs
}

dag {
    enabled = true
    file = 'noxbook_dag.html'
    overwrite = true
}

report {
    enabled = true
    file = 'noxbook_report.html'
    overwrite = true
}
